<div ng-if="main.loggedIn && main.isAdmin" ng-controller="UserController as user">
    <script type="text/javascript" src="app/res/pass.js"></script>



    <div class="container" style="width: 40%">
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form ng-submit="user.getUser()">
                        <input type="text" class="  search-query form-control" placeholder="Search"
                               ng-model="user.userData.username"/>
                    </form>

                    <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="user.getUser()">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>

                </div>
            </div>
        </div>
    </div>

    <div  ng-if="user.showMessage()" class="alert alert-warning" style="margin-left:35% ;width: 400px;height: auto;">
        <button type="button" ng-click="user.stopMessage()" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
        <strong>Warning!</strong> {{user.msg}}.
    </div>

    </br></br>

    <div class="container" style="width: 50%">


        <div class="panel panel-default">
            <div class="panel-heading">detail
                <div style=" float: left;"></div>

                <div style=" float: right;">

                    <button ng-click="user.deleteUser()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button ng-click="user.deleteUser()">
                        <span class="glyphicon glyphicon-off"></span>
                    </button>
                    <button data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-plus-sign"></span>

                    </button>


                </div>
            </div>

            <!--  <form ng-submit="user.deleteUser()">
                  <button class="btn btn-danger" type="submit">Delete</button>
              </form> -->
            <div class="panel-body">
                <div class="container" style="width:100%">

                    <div class="alert alert-success" ng-if="user.isUserSuccessfullyDeleted()"
                         style="width: 500px;height: 100px;">
                        <button type="button" ng-click="user.okdelete()" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            ×
                        </button>
                        <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                        <hr class="message-inner-separator">
                        <p>You successfully Deleted this user .</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="nom2">Nom:</label>
                        <div class="col-sm-10" ng-repeat="each in user.userSearched">
                            <input readonly type="text" class="form-control" id="nom2" name="nom2"
                                   value="{{each.name}}">
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email2">Email:</label>
                        <div class="col-sm-10" ng-repeat="each in user.userSearched">
                            <input readonly type="email" class="form-control" id="email2" name="email2"
                                   value="{{each.username}}">
                        </div>
                    </div>
                    <br>
                    <br>
                    <label class="control-label col-sm-2">role :</label>
                    <div ng-repeat="each in user.userSearched">
                        <div ng-if="each.admin"><p>Admin</p></div>
                        <div ng-if="!each.admin"><p>Utilisateur</p></div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="container" style="width: 50%">

        <div class="panel panel-default">
            <div class="panel-heading">Historique</div>
            <div class="panel-body" ng-if="user.hasHistorys()">
                <div class="container" style="width:100%">


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>video</th>
                            <th>date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="each in dataHistoriqueParam.slice(((currentPageHistoriqueParam-1)*itemsPerPage), ((currentPageHistoriqueParam)*itemsPerPage))">
                            <td>{{each.request_Video}}</td>
                            <td>{{each.request_date}}</td>
                        </tr>

                        </tbody>
                    </table>
                    <pagination total-items="totalItemsHistoriqueParam"
                                ng-model="currentPageHistoriqueParam"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                rotate="false"
                                items-per-page="itemsPerPage">

                    </pagination>

                </div>
            </div>
            <div class="panel-body" ng-if="!user.hasHistorys()"><p>No Historique</p></div>
        </div>
    </div>

    <div class="container" style="width: 50%">

        <div class="panel panel-default">
            <div class="panel-heading">Logs</div>
            <div class="panel-body" ng-if="user.hasLoggs()">
                <div class="container" style="width:100%">


                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>connexion</th>
                            <th>deconexion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="each in dataLogss.slice(((currentPageLoggs-1)*itemsPerPage), ((currentPageLoggs)*itemsPerPage))">

                            <td>{{each.log_In}}</td>
                            <td>{{each.log_Out}}</td>
                        </tr>

                        </tbody>
                    </table>
                    <pagination total-items="totalItemsDataLogss"
                                ng-model="currentPageLoggs"
                                max-size="maxSize"
                                class="pagination-sm"
                                boundary-links="true"
                                rotate="false"
                                items-per-page="itemsPerPage">

                    </pagination>
                </div>

            </div>
            <div class="panel-body" ng-if="!user.hasLoggs()"><p>No Loggs</p></div>
        </div>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="width:70%" ng-controller="UserCreateController as user">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-header">

                    <h4 class="modal-title" ng-if="!user.isUserSuccessfullyAdded()">Add User</h4>
                    <div class="alert alert-success" ng-if="user.isUserSuccessfullyAdded()">
                        <button type="button" ng-click="user.okAdd()" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            ×
                        </button>
                        <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                        <hr class="message-inner-separator">
                        <p>You successfully added a new user as .</p>
                        <p ng-if="user.userNew.admin"> Admin</p>
                        <p ng-if="!user.userNew.admin">Simple user</p>


                    </div>
                </div>

                <div class="modal-body">

                    <form class="form-signin" method="post" ng-submit="user.addUser()">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="float: left;"> Nom d'utilisateur</i></span>
                            <input type="text" class="form-control" name="name" ng-model="user.userNew.name" required>
                        <br>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="float: left;"> Email</i></span>
                            <input type="text" class="form-control" name="username" ng-model="user.userNew.username"
                                   required>
                        <br>

                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="float: left;"> Mot de passe</i></span>
                            <input type="password" class="form-control" name="password1" id="password1"
                                   ng-model="user.userNew.password" required>

                        <div class="row">
                            <div class="col-sm-6">
                                                    <span id="8char" class="glyphicon glyphicon-remove"
                                                          style="color:#FF0004;"></span> 8 charactères<br>
                                <span id="ucase" class="glyphicon glyphicon-remove"
                                      style="color:#FF0004;"></span> 1 Majuscule
                            </div>
                            <div class="col-sm-6">
                                                    <span id="lcase" class="glyphicon glyphicon-remove"
                                                          style="color:#FF0004;"></span> 1 minuscule<br>
                                <span id="num" class="glyphicon glyphicon-remove"
                                      style="color:#FF0004;"></span> 1 nombre
                            </div>
                        </div>
                        <br>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="float: left;"> Confirmez le mot de passe</i></span>
                            <input type="password" class="form-control" name="password2" id="password2"
                                   ng-model="user.userNew.passConfirm" required>
                        <div class="row">
                            <div class="col-sm-12">
                                                    <span id="pwmatch" class="glyphicon glyphicon-remove"
                                                          style="color:#FF0004;"></span> mot de passe identique
                            </div>
                        </div>
                        <br>
                        <span class="label label-danger">Role d'utilisation</span>
                        <br>

                        <div class="checkbox">
                            <label><input type="checkbox" name="admin" ng-model="user.userNew.admin"> Admin</label>


                        </div>
                        <button type="submit" id="ok" disabled="true" class="btn btn-danger">Add</button>

                    </form>
                </div>


                <div class="modal-footer">
                </div>

            </div>

        </div>
    </div>

</div>