<h1>Documentation :</h1>
<script>
    function getvideodoc(){
        window.location.href = 'https://localhost:3000/doc/apivideo/';
    }
</script>
<h2><a onclick="getvideodoc()">API video</a></h2>


<script>
    function getauthdoc(){
        window.location.href = 'https://localhost:3000/doc/apiauth/';
    }
</script>
<h2><a onclick="getauthdoc()">API authentification</a></h2>


<script>
    function getplaylistdoc(){
        window.location.href = 'https://localhost:3000/doc/apiplaylist/';
    }
</script>
<h2><a onclick="getplaylistdoc()">API playlist</a></h2>