<div ng-if="main.loggedIn">



    <!--<h4 style="position: relative"> {{video.title}}</h4>-->
    <!--<div>-->
        <!--<video id="vid_frame" controls controlsList="nodownload"-->
               <!--src="{{'/pilote/watchVideo/'+video.videoSrc+'/'+video.url}}"-->
               <!--type="video/mp4" frameborder="0" controls></video>-->
    <!--</div>-->


    <div class="row2">
        <div class="col-md-8">
            <div class="">
                <div class="panel-body">
                    <div>
                        <h4> {{video.title}}</h4>
                        <div class="embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item" width="640"
                                height="360" id="vid_frame" controls controlsList="nodownload"
                               src="{{'/pilote/watchVideo/'+video.videoSrc+'/'+video.url}}"
                               type="video/mp4" frameborder="0" controls></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="">
                <div class="" style="width: 420px">

                    <nav class="navbar navbar-default" style="">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">Source de videos</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#" ng-click="video.youtubeList = true">Youtube</a></li>
                                <li><a href="#" ng-click="video.youtubeList = false">Vimeo</a></li>
                            </ul>
                        </div>
                    </nav>


                    <div ng-if="video.youtubeList" style="overflow-y: auto;height: 500px;">
                        <div class="thumbnail clearfix" ng-repeat="x in video.youtubeVideos" style="width:400px;">
                            <img src="{{x.raw.snippet.thumbnails.medium.url}}" ng-click="video.streamYoutubeVideo(x)" alt="ALT NAME"
                                 class="pull-left span2 clearfix" style='width:168px;height:94px;   margin-right:10px'>
                            <div class="caption" class="pull-left">

                                <h5>
                                    <a href="#" ng-click="video.streamYoutubeVideo(x)">{{x.title}}</a>
                                </h5>
                                <small>{{x.channel.title}}</small>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!video.youtubeList" style="overflow-y: auto;height: 500px;">
                        <div class="thumbnail clearfix" ng-repeat="y in video.vimeoVideos" style="width:400px;">
                            <img src="{{y.pictures.sizes[3].link}}" ng-click="video.streamVimeoVideo(y)" alt="ALT NAME"
                                 class="pull-left span2 clearfix" style='width:168px;height:94px;   margin-right:10px'>
                            <div class="caption" class="pull-left">

                                <h5>
                                    <a href="#" ng-click="video.streamVimeoVideo(y)">{{y.name}}</a>
                                </h5>
                                <small>{{y.user.name}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

