<div ng-if="main.loggedIn">


    <!--<h4 style="position: relative"> {{video.title}}</h4>-->
    <!--<div>-->
    <!--<video id="vid_frame" controls controlsList="nodownload"-->
    <!--src="{{'/pilote/watchVideo/'+video.videoSrc+'/'+video.url}}"-->
    <!--type="video/mp4" frameborder="0" controls></video>-->
    <!--</div>-->


    <div class="row2">
        <div class="col-md-8">
            <div class="">
                <div class="panel-body">
                    <div>
                        <h4> {{video.title}}</h4>
                        <div class="embed-responsive embed-responsive-16by9">
                            <video ng-if="video.showVid" class="embed-responsive-item" width="640"
                                   height="360" id="vid_frame" controls controlsList="nodownload"
                                   src="{{'/pilote/watchVideo/'+video.videoSrc+'/'+video.url}}"
                                   type="video/mp4" frameborder="0" controls>
                            </video>
                        </div>
                        <button ng-if="video.showVid" class="btn-toolbar btn-success" data-toggle="modal"
                                data-target="#myModal" data-toggle="tooltip"
                                title="ajouter dans une playlist" ng-click="playlist.getListPlaylist()">
                            <span class="glyphicon glyphicon-plus-sign"></span> Ajouter à une playlist

                        </button>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content" style="width:70%">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <div class="modal-header">
                                        <div ng-if="playlist.showMessage() && !playlist.messageSuccess"
                                             class="alert alert-warning"
                                             style="margin-left:0% ;width: 360px;height: auto;">
                                            <button type="button" ng-click="playlist.stopMessage()" class="close"
                                                    data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <strong>Warning! </strong>{{playlist.error}}
                                        </div>

                                        <div ng-if="playlist.showMessage() && playlist.messageSuccess"
                                             class="alert alert-success"
                                             style="margin-left:0% ;width: 360px;height: auto;">
                                            <button type="button" ng-click="playlist.stopMessage()" class="close"
                                                    data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <strong>Success! </strong>{{playlist.error}}
                                        </div>

                                        <h4 class="modal-title">Playlist</h4>
                                    </div>

                                    <div class="modal-body">
                                        <form>
                                            <p>Choisir une playlist :</p>

                                            <select style="margin-bottom: 10px" class="form-control"
                                                    ng-model="namePlaylistS" ng-options="p for p in arrayNomPlaylist">
                                            </select>
                                            <button class="btn btn-success"
                                                    ng-click="playlist.addVideo(namePlaylistS,video.url,video.title,video.videoSrc,video.image)">
                                                ajouter la video
                                            </button>
                                        </form>
                                        <form class="form-signin" method="post"
                                              ng-submit="playlist.createAndAdd(nameplaylistT,video.url,video.title,video.videoSrc,video.image)">
                                            <p style="padding-top: 10px;">Ou créer une nouvelle playlist :</p>
                                            Nouvelle playlist : <input style="margin-bottom: 10px" class="form-control"
                                                                       type="text" name="nameplaylistT"
                                                                       ng-model="nameplaylistT">
                                            <button class="btn btn-success" type="submit">céer et ajouter la video
                                                dedans
                                            </button>
                                        </form>

                                    </div>


                                    <div class="modal-footer">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="">
                <div class="" style="width: 420px">

                    <nav class="navbar navbar-default" style="">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">Source de videos</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#" ng-click="video.youtubeList = true">Youtube</a></li>
                                <li><a href="#" ng-click="video.youtubeList = false">Vimeo</a></li>
                            </ul>
                        </div>
                    </nav>

                    <div ng-if="video.youtubeList" style="overflow-y: auto;height: 500px;" when-scrolled="video.loadMoreYoutube()">
                            <div class="thumbnail clearfix" ng-repeat="x in video.youtubeVideos" style="width:400px;" >
                                <img src="{{x.snippet.thumbnails.medium.url}}"
                                     ng-click="video.streamYoutubeVideo(x)"
                                     alt="ALT NAME"
                                     class="pull-left span2 clearfix"
                                     style='width:168px;height:94px;   margin-right:10px'>
                                <div class="caption" class="pull-left">

                                    <h5>
                                        <a href="#" ng-click="video.streamYoutubeVideo(x)">{{x.snippet.title}}</a>
                                    </h5>
                                    <small>{{x.snippet.channelTitle}}</small>
                                </div>
                            </div>
                    </div>

                    <div ng-if="!video.youtubeList" style="overflow-y: auto;height: 500px;" when-scrolled="video.loadMoreVimeo()">
                        <div class="thumbnail clearfix" ng-repeat="y in video.vimeoVideos" style="width:400px;">
                            <img src="{{y.pictures.sizes[3].link}}" ng-click="video.streamVimeoVideo(y)" alt="ALT NAME"
                                 class="pull-left span2 clearfix" style='width:168px;height:94px;   margin-right:10px'>
                            <div class="caption" class="pull-left">

                                <h5>
                                    <a href="#" ng-click="video.streamVimeoVideo(y)">{{y.name}}</a>
                                </h5>
                                <small>{{y.user.name}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>